@media (min-width:768px) {
 .container {
   width: 750px
 }
}

@media (min-width:992px) {
 .container {
   width: 970px
 }
}

@media (min-width:1200px) {
 .container {
   width: 1170px
 }
}
/* Small devices (tablets, 768px and up) */
@media (min-width:768px @screen-sm-min) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px @screen-lg-min) { }

/* landscape phones and smaller */
@media screen and (max-width: 1080px) {
    #hero .user-actions {
       float: left;
       width: auto;
    }
}
